@import "~bootstrap-icons/font/bootstrap-icons";

.thumb-icon:hover .icon {
  color: red; /* Change to the desired hover color */
}

.background-hover:hover {
  background-color: lightgreen !important; /* Change to the desired hover color */
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake:hover {
  animation: shake 0.5s ease-in-out; /* Adjust duration and timing function as needed */
}

/* Green Card */
.green-card {
  background-color: #28a745 !important; /* Matches Bootstrap's success button color */
}

/* Red Card */
.red-card {
  background-color: #dc3545 !important;
  color: #ffffff !important;

}

/* Blue Card */
.blue-card {
  background-color: #007bff !important; /* Matches Bootstrap's primary button color */
  color: #ffffff !important;

}

/* Orange Card */
.orange-card {
  background-color: #ffc107 !important; /* Matches Bootstrap's warning button color */
}

/* Filtered Card */
.filtered-card {
  background-color: #ffc107 !important;
  color: white !important; /* Matches Bootstrap's warning button color */
}
/* Default Card */
.default-card {
  background-color: #0e476d !important; /* White color for default card */

  color: white!important;
}

/* Hover effect for default card */
.default-card:hover {
  background-color: #0a3852 !important;
  /* Light gray background on hover */
}

/* Hover effect for green cards */
.green-card:hover {
  background-color: #218838 !important; /* Darker shade of green */
}

/* Hover effect for red cards */
.red-card:hover {
  background-color: #c82333 !important; /* Darker shade of red */
}

/* Hover effect for blue cards */
.blue-card:hover {
  background-color: #0056b3 !important; /* Darker shade of blue */
}

/* Hover effect for orange cards */
.orange-card:hover {
  background-color: #e0a800 !important; /* Darker shade of orange */
}

.alert-container {
  overflow: hidden;
}

.alert-list {

  list-style-type: none;
  padding-left: 0;
}



.alert-item {
  animation: slideIn 25s linear infinite;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
